/* import Akuphocus banner font  */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:ital@0;1&family=Kalam&family=Lobster&family=Shantell+Sans:ital,wght@1,300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling About me page, Nav, and Footer */

.about-me-img {
  margin-top: 40px;
}

hr.solid {
  border-top: 4px solid #000000;
  width:30%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 40px;
}

h2 {
  text-align:center;
}

.about-me-p {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  font-family: 'Lobster', cursive;
  font-size:24px;
}

/* Underline nav items */

.akuphocus {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: #C29B0C; 
}

h2 {
  font-family: 'Lobster', cursive;
  color: #C29B0C; 
}

.nav-item {
font-family: 'Lobster', cursive;
}

.nav-item {
  display: inline-block;
  position: relative;
  color: #CC9900;
}

.nav-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #CC9900;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Positioning the image on the card and adding radius and other styling*/

.card { 
  border-style:none;
  background-color: white;
}

.card-header {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: white;
}

.card-header img {
  height: 200px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}


.card p {
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 10%;
}

.card:hover {

  /* use linear-gradient() function to create a fading background  */
  background-image: linear-gradient();

  transform: scale(1.05);
  transition: all 1s ease;

}

/* Responsive css section begins here for About me */

/* Carousel Styling for max width on screen responsive design */

@media only screen and (min-width: 750px) {

  .about-me-img {
    width:80%;
  }

  .carousel-inner {
    width: 90%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
  
  }
  
  .carousel {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right:auto;
  }
  
  .carousel-control-next {
  margin-right:5%;
  }
  
  .carousel-control-prev {
    margin-left: 5%;
  }


}

@media only screen and (min-width: 1250px) {

.about-me-img {
  width:40%;
}

.carousel-inner {
  width: 60%;
  height: auto;
  margin-left:auto;
  margin-right:auto;

}

.carousel {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right:auto;
}

.carousel-control-next {
margin-right:15%;
}

.carousel-control-prev {
  margin-left: 15%;
}

}

/* CSS for Contact page begins here  */

.contact-me {
  padding-top: 20px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  font-family: 'Lobster', cursive;
  font-size:24px;
}

.form-label {
  font-family: 'Lobster', cursive;
  margin-left: 20px;
  color:#C29B0C;
}

.form-select {
  margin-left: 20px;
  max-width: 90%;
}

.form-control {
margin-left: 20px;
max-width: 90%;
}

.form-button {
  font-family: 'Lobster', cursive;
  background-color:#C29B0C;
  
}